body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(blue1.jpg);
    background-repeat: repeat;
    background-color: skyblue;
    color: rgb(57, 61, 65);
    background: url(blue1.jpg)repeat  color rgb(73, 142, 202);
}
.decorative {
    min-height: 80px;
    background-image: url(Colorful-Natural-Tree80.png);
    background-repeat: no-repeat;
    background-position: right;
    background: url(Colorful-Natural-Tree80.png) no-repeat right;
}
.mylist {
    list-style-type: square;
}

.tree {
    width: 500px;
    height: 500px;
}